<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/images/logo.png" alt="" style="filter: invert(1); height: 100%;">
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/dashboard" mat-button>Home</a>
        <a routerLink="/explore" mat-button>Explore</a>
        <a routerLink="/favorites" mat-button>Favorites</a>
      </div>
      <span class="menu-spacer"></span>
      <div style="margin-left: auto;">
        <button mat-raised-button (click)="logout()" color="warn">Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <mat-card style="width: 80%; margin: 0 auto;">
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-content>
      <h2>Hungry and ready to cook?</h2>
      <form class="example-container" #options="ngForm">
        <mat-form-field style="width: 100%;">
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
          <textarea matInput name="ingredients" [(ngModel)]="ingredients" cols="35" rows="8"
            placeholder="Type your ingredients with a comman seperation here" [disabled]="isSubmitting" required></textarea>
        </mat-form-field>
        <button (click)="getRecipes()" [disabled]="isSubmitting" isSubmitting = true; mat-raised-button color="primary" style="margin-top: 20px;"> Get Recipes
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>