<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <img src="assets/images/background.jpg" alt="">
  <mat-card>
    <h1 class="mat-card-title">Welcome to Fridgesense!</h1>
    <form class="mat-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button type="submit" color="primary">Login</button>
      </div>
      <p>Don't have an account yet? <a href="#">Register here</a></p>
    </form>
  </mat-card>
</div>
