<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/images/logo.png" alt="" style="filter: invert(1); height: 100%;">
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/dashboard" mat-button>Home</a>
        <a routerLink="/explore" mat-button>Explore</a>
        <a routerLink="/favorites" mat-button>Favorites</a>
      </div>
      <span class="menu-spacer"></span>
      <div style="margin-left: auto;">
        <button mat-raised-button (click)="logout()" color="warn">Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <mat-card style="width: 80%; margin: 0 auto;">
    <mat-card-title>Here are your results</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Recipe Name Column -->
        <ng-container matColumnDef="RecipeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipe Name</th>
          <td mat-cell *matCellDef="let element"> {{element.recipeName}}</td>
        </ng-container>

        <!-- Ingredients Column -->
        <ng-container matColumnDef="Ingredients">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingredients</th>
          <td mat-cell *matCellDef="let element"> {{element.ingredients}}</td>
        </ng-container>

        <!-- Instructions Column -->
        <ng-container matColumnDef="Instructions">
          <th mat-header-cell *matHeaderCellDef>Instructions</th>
          <td mat-cell *matCellDef="let element"> {{element.instructions}}</td>
        </ng-container>

        <!-- Favorites Column -->
        <ng-container matColumnDef="Favorites">
          <th mat-header-cell *matHeaderCellDef>Remove From Favorites</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="danger" (click)="removeFromFavorites(element)">Remove from Favorites</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
